html {
    background-color: pink;
}
body {
    margin:0;
    padding:0;
    height:100%;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:30%;
    background-color: white;
}
#content {
    height: 70%;
    padding-bottom:30%;
}