@font-face {
    font-family: "Agency FB";
    src: url("https://raw.githubusercontent.com/Jacob4649/dating-time/main/AgencyFB.eot");
    src: url("https://raw.githubusercontent.com/Jacob4649/dating-time/main/AgencyFB.eot?#iefix") format("embedded-opentype"),
    url("https://raw.githubusercontent.com/Jacob4649/dating-time/main/AgencyFB.woff2") format("woff2"),
    url("https://raw.githubusercontent.com/Jacob4649/dating-time/main/AgencyFB.woff") format("woff"),
    url("https://raw.githubusercontent.com/Jacob4649/dating-time/main/AgencyFB.ttf")  format("truetype"),
    url("https://raw.githubusercontent.com/Jacob4649/dating-time/main/AgencyFB.svg#filename") format("svg");
}
html {
    height: 100%;
    background-color: pink;
}
body {
    margin:0;
    padding:0;
    height:100%;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:30%;
    background-color: white;
}
#content {
    padding-top: 5%;
    height: 30%;
    font-family: "Agency FB";
    font-size: 700%;
    color: white;
    text-align: center;
    vertical-align: middle;
}
#logo {
    height: 100%
}
#date-div {
    font-family: "Agency FB";
    font-size: 40pt;
    text-align: center;
}
#date-picker {
    height: 40pt;
    margin-left: 18pt;
    font-family: "Agency FB";
    font-size: 32pt;
    border: none;
}
#controls {
    height: 100%;
    width: 100%;
}
.flex-container {
    display: flex;
}
.center-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}